// ===================== 👇기본셋팅 👇
// ===================== 👇기본 스타일 리셋+변형 👇

html,
body {
  margin: 0;
  padding: 0;
  background-color: $black;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $white;
  font-size: 1em;
}

li {
  list-style: none;
}

// ===================== 👆기본 스타일 리셋+변형 👆
// ===================== 👆기본셋팅 👆

// ===================== 👇 폰트스타일 기본셋팅 👇
// +++👇 폰트 선택 👇

.en-title {
  font-family: "Prata", serif;
}

.kr-title {
  font-family: "Noto Sans KR", sans-serif;
}

.en-sub-title {
  font-family: "Open Sans", sans-serif;
}

.en-menu-a {
  font-family: "Open Sans", sans-serif;
}

// +++👆 폰트 선택 👆
// +++👇 폰트 사이즈 👇

.font-s-32 {
  font-family: $en-title-big;
  font-size: $spacer-4;
  margin-bottom: $spacer-1;
  text-transform: uppercase;
}

// +++👆 폰트 사이즈 👆
// +++👇 폰트 포지션 👇

.text-center {
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.05em;

  @media screen and (max-width: 920px) {
    font-size: 4em;
  }

  @media screen and (max-width: 460px) {
    font-size: 3.2em;
  }
}

// +++👆 폰트 포지션 👆
// +++👇 폰트 컬러 👇

.font-col-w {
  color: $white;
}

.font-col-point {
  color: $black-con-title;
}

.font-col-gray {
  color: $black-con-title;
}

// +++👆 폰트 컬러 👆

// ===================== 👆 폰트스타일 기본셋팅 👆
// ===================== 👇 컨테이너 & 내부 포지션 셋팅 👇

.overflow-hd {
  overflow: hidden;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.mg-bt {
  margin-bottom: $spacer-2;
}

// ===================== 👆 컨테이너 & 내부 포지션 셋팅 👆
// ===================== 👇link & icon hover👇

.primary a:hover {
  color: $link-point;

  .arrow-hover {
    filter: invert(36%) sepia(97%) saturate(7500%) hue-rotate(252deg)
      brightness(95%) contrast(114%);
  }
}

.arrow-ic {
  display: inline-block;
  width: 12px;
}
// ===================== 👆link & icon hover👆
// ===================== 👇컨테이너 높이 👇

.vh-100 {
  height: 100vh;
  min-height: 500px;
}

.vh-50 {
  height: 50vh;
  min-height: 420px;
}

.vh-20 {
  height: 20vh;
  min-height: 300px;
}

// ===================== 👆컨테이너 높이👆
