html,
body {
  margin: 0;
  padding: 0;
  background-color: $black;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $white;
  font-size: 1em;
}

li {
  list-style: none;
}

.overflow-hd {
  overflow: hidden;
}

.en-title {
  font-family: "Prata", serif;
}

.kr-title {
  font-family: "Noto Sans KR", sans-serif;
}

.en-sub-title {
  font-family: "Open Sans", sans-serif;
}

.en-menu-a {
  font-family: "Open Sans", sans-serif;
}

.text-center {
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.05em;

  @media screen and (max-width: 920px) {
    font-size: 4em;
  }

  @media screen and (max-width: 460px) {
    font-size: 3.5em;
  }
}

.font-col-w {
  color: $white;
}

.font-col-gray {
  color: $black-con-title;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mg-bt {
  margin-bottom: $spacer-2;
}

.primary a:hover {
  color: $link-point;

  .arrow-hover {
    filter: invert(36%) sepia(97%) saturate(7500%) hue-rotate(252deg)
      brightness(95%) contrast(114%);
  }
}

.arrow-ic {
  display: inline-block;
  width: 12px;
}
