@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Open+Sans:400,700|Prata&display=swap");
@font-face {
  font-family: "Prata", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Open+Sans:400,700|Prata&display=swap");
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #11151e;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

p {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.02em;
}

li {
  list-style: none;
}

.en-title {
  font-family: "Prata", serif;
}

.kr-title {
  font-family: "Noto Sans KR", sans-serif;
}

.en-sub-title {
  font-family: "Open Sans", sans-serif;
}

.en-menu-a {
  font-family: "Open Sans", sans-serif;
}

.font-s-32 {
  font-family: "Prata", serif;
  font-size: 32px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.font-s-24 {
  font-size: 24px;
  margin-bottom: 8px;
}

.text-center {
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 920px) {
  .text-center {
    font-size: 4em;
  }
}

@media screen and (max-width: 460px) {
  .text-center {
    font-size: 3.2em;
  }
}

.font-col-w {
  color: #fff;
}

.font-col-point {
  color: #e3e3ff;
}

.font-col-gray {
  color: #e3e3ff;
}

.overflow-hd {
  overflow: hidden;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
}

.position-a-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.mg-bt {
  margin-bottom: 16px;
}

.primary a:hover {
  color: #888afa;
}

.primary a:hover .arrow-hover {
  -webkit-filter: invert(18%) sepia(59%) saturate(4376%) hue-rotate(205deg) brightness(95%) contrast(101%);
          filter: invert(18%) sepia(59%) saturate(4376%) hue-rotate(205deg) brightness(95%) contrast(101%);
}

.arrow-ic {
  display: inline-block;
  width: 12px;
}

.vh-100 {
  height: 100vh;
  min-height: 500px;
}

.vh-50 {
  height: 50vh;
  min-height: 420px;
}

.vh-20 {
  height: 20vh;
  min-height: 300px;
}

@media screen and (min-width: 800px) {
  .scroll-nav {
    float: left;
  }
}

.scroll-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.scroll-nav__list:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 920px) {
  .scroll-nav__list {
    display: none;
  }
}

.scroll-nav__item {
  margin-bottom: 5px;
  float: left;
  margin-right: 24px;
  padding: 24px;
}

.scroll-nav__item:hover {
  background-color: #4f23ff;
  border-radius: 100%;
}

.page__title:hover {
  background-color: #4f23ff;
  border-radius: 100%;
}

.scroll-nav__item--active {
  font-weight: 600;
  background-color: #4f23ff;
  border-radius: 100%;
}

.scroll-nav__link {
  color: white;
  text-decoration: none;
}

.page__header {
  position: fixed;
  z-index: 1000;
  top: 64px;
  left: 32px;
}

.page__header:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 460px) {
  .page__header {
    top: 16px;
    left: 16px;
  }
}

.page__title {
  margin: 0;
  margin-right: 24px;
  color: white;
  padding: 24px;
  float: left;
}

@media screen and (max-width: 799px) {
  .page__title {
    padding: 12px;
  }
}

.inner-section {
  height: 28vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-section h2 {
  text-align: center;
}

.inner-section-01 {
  height: 28vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-section-01 h2 {
  text-align: center;
}

.image-w {
  width: 360px;
  margin-bottom: 60px;
  z-index: 2;
}

@media screen and (max-width: 460px) {
  .image-w {
    width: 290px;
    margin-bottom: 160px;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper-text {
  margin: 0 auto;
  padding: 10px;
  max-width: 72%;
  min-width: 30%;
  padding-bottom: 200px;
}

.secondary {
  padding-top: 60px;
  line-height: 1.5em;
}

.ic-size {
  width: 0.8em;
}

@media all and (min-width: 1200px) {
  .wrapper-text {
    margin: 0 auto;
    padding: 20px;
    max-width: 35%;
    padding-bottom: 200px;
  }
  .container {
    padding-right: 400px;
  }
  .primary {
    float: left;
    padding-right: 24px;
  }
  .secondary {
    float: right;
    margin-right: -400px;
    width: 400px;
    padding-top: 120px;
  }
}

.wrapper-bg-image {
  margin: 0 auto;
  padding: 10px;
  max-width: 80%;
  padding-bottom: 200px;
}

.btn-noti {
  position: fixed;
  z-index: 1000;
  top: 64px;
  right: 32px;
  list-style: none;
  padding: 24px;
}

@media screen and (max-width: 460px) {
  .btn-noti {
    top: 16px;
    right: 16px;
  }
}

@media screen and (max-width: 799px) {
  .btn-noti {
    padding: 12px;
  }
}

.top-container {
  max-width: 62.5em;
}

.margin-tb-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.anim-area-a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.anim-area-b {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.btn-info-pop {
  background-color: #06121f;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.64s ease-in-out;
  transition: 0.64s ease-in-out;
}

.btn-info-pop-up {
  position: relative;
  background-color: #4f23ff;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  min-width: 320px;
  width: 80%;
  height: 90%;
}

.btn-info-pop-text {
  width: 52%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
}

@media screen and (max-width: 936px) {
  .btn-info-pop-text {
    width: 100%;
    height: 50%;
    top: 10%;
  }
}

@media screen and (max-width: 420px) {
  .btn-info-pop-text {
    padding: 2rem;
  }
}

.btn-info-pop-text h1 {
  font-family: "Prata", serif;
  font-size: 32px;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.btn-info-pop-text p {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 300;
}

.btn-info-pop-text .top-32 {
  margin-top: 42px;
  font-size: 14px;
  font-weight: 600;
}

.btn-info-pop-text a {
  font-weight: 400;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.btn-info-pop-text a:hover {
  color: #888afa;
  font-weight: 400;
}

.btn-info-pop-text-link {
  width: 40%;
  height: 100%;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 936px) {
  .btn-info-pop-text-link {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 420px) {
  .btn-info-pop-text-link {
    padding: 2rem;
  }
}

.btn-info-pop-text-link h1 {
  font-family: "Prata", serif;
  font-size: 32px;
  margin-bottom: 8px;
}

.btn-info-pop-text-link a {
  line-height: 32px;
  letter-spacing: 0.08em;
  font-weight: 100;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.btn-info-pop-text-link a:hover {
  color: #888afa;
  font-weight: 600;
}

.btn-info-pop-text-link a:hover .arrow-hover {
  -webkit-filter: invert(18%) sepia(59%) saturate(4376%) hue-rotate(205deg) brightness(95%) contrast(101%);
          filter: invert(18%) sepia(59%) saturate(4376%) hue-rotate(205deg) brightness(95%) contrast(101%);
}

.btn-info-pop:target {
  visibility: visible;
  opacity: 1;
}

.btn-info-pop-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 120px;
  height: 58px;
  border-radius: 100%;
  background-color: #06121f;
  z-index: 10;
  text-align: center;
  line-height: 64px;
  cursor: pointer;
}

@media screen and (max-width: 936px) {
  .btn-info-pop-close {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    line-height: 70px;
  }
}

.rotate-img {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 920px) {
  .rotate-img {
    overflow: hidden;
  }
}

.rotate-img-text {
  -webkit-animation: 12s linear infinite rotate;
          animation: 12s linear infinite rotate;
  width: 350px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lg-green {
  width: 10px;
  height: 100px;
  border-radius: 24px;
  margin-left: 28px;
  background-color: #4f23ff;
  z-index: 0;
}

.lg-green2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 20px;
  background-color: #06121f;
  z-index: 0;
}

.content-bg-type {
  width: 800px;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 460px) {
  .content-bg-type {
    width: 320px;
  }
}
/*# sourceMappingURL=main.css.map */