@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Open+Sans:400,700|Prata&display=swap");
@font-face {
  font-family: "Prata", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Open+Sans:400,700|Prata&display=swap");
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #11151e;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

li {
  list-style: none;
}

.overflow-hd {
  overflow: hidden;
}

.en-title {
  font-family: "Prata", serif;
}

.kr-title {
  font-family: "Noto Sans KR", sans-serif;
}

.en-sub-title {
  font-family: "Open Sans", sans-serif;
}

.en-menu-a {
  font-family: "Open Sans", sans-serif;
}

.text-center {
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 920px) {
  .text-center {
    font-size: 4em;
  }
}

@media screen and (max-width: 460px) {
  .text-center {
    font-size: 3.5em;
  }
}

.font-col-w {
  color: #fff;
}

.font-col-gray {
  color: #e3e3ff;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mg-bt {
  margin-bottom: 16px;
}

.primary a:hover {
  color: #5f19cf;
}

.primary a:hover .arrow-hover {
  -webkit-filter: invert(36%) sepia(97%) saturate(7500%) hue-rotate(252deg) brightness(95%) contrast(114%);
          filter: invert(36%) sepia(97%) saturate(7500%) hue-rotate(252deg) brightness(95%) contrast(114%);
}

.arrow-ic {
  display: inline-block;
  width: 12px;
}

@media screen and (min-width: 800px) {
  .scroll-nav {
    float: left;
  }
}

.scroll-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.scroll-nav__list:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 920px) {
  .scroll-nav__list {
    display: none;
  }
}

.scroll-nav__item {
  margin-bottom: 5px;
  float: left;
  margin-right: 24px;
  padding: 24px;
}

.scroll-nav__item:hover {
  background-color: #4f23ff;
  border-radius: 100%;
}

.page__title:hover {
  background-color: #4f23ff;
  border-radius: 100%;
}

.scroll-nav__item--active {
  font-weight: 600;
  background-color: #4f23ff;
  border-radius: 100%;
}

.scroll-nav__link {
  color: white;
  text-decoration: none;
}

.page__header {
  position: fixed;
  z-index: 1000;
  top: 64px;
  left: 32px;
}

.page__header:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 460px) {
  .page__header {
    top: 32px;
    left: 16px;
  }
}

.page__title {
  margin: 0;
  margin-right: 24px;
  color: white;
  padding: 24px;
  float: left;
}

@media screen and (max-width: 799px) {
  .page__title {
    padding: 12px;
  }
}

.inner-section {
  height: 28vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00a6a1;
}

.inner-section h2 {
  text-align: center;
}

.inner-section-01 {
  height: 28vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #11151e;
}

.inner-section-01 h2 {
  text-align: center;
}

.image-w {
  width: 360px;
  margin-bottom: 60px;
}

@media screen and (max-width: 460px) {
  .image-w {
    width: 300px;
    margin-bottom: 160px;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper-text {
  margin: 0 auto;
  padding: 10px;
  max-width: 55%;
  min-width: 30%;
  padding-bottom: 200px;
}

.secondary {
  padding-top: 60px;
  line-height: 1.5em;
}

.ic-size {
  width: 0.8em;
}

@media all and (min-width: 1200px) {
  .wrapper-text {
    margin: 0 auto;
    padding: 20px;
    max-width: 35%;
    padding-bottom: 200px;
  }
  .container {
    padding-right: 400px;
  }
  .primary {
    float: left;
    padding-right: 24px;
  }
  .secondary {
    float: right;
    margin-right: -400px;
    width: 400px;
    padding-top: 120px;
  }
}

.btn-noti {
  position: fixed;
  z-index: 1000;
  top: 64px;
  right: 32px;
  list-style: none;
  padding: 24px;
}

@media screen and (max-width: 460px) {
  .btn-noti {
    top: 32px;
    right: 16px;
  }
}

@media screen and (max-width: 799px) {
  .btn-noti {
    padding: 12px;
  }
}

.top-container {
  max-width: 62.5em;
}

.margin-tb-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vh-100 {
  height: 100vh;
  min-height: 500px;
}

.vh-20 {
  height: 20vh;
  min-height: 300px;
}

.anim-area {
  background-color: #11151e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.rotate-img {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 920px) {
  .rotate-img {
    overflow: hidden;
  }
}

.rotate-img-text {
  -webkit-animation: 12s linear infinite rotate;
          animation: 12s linear infinite rotate;
  width: 350px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lg-green {
  width: 240px;
  height: 240px;
  border-radius: 24px;
  margin-left: 500px;
  background-color: #4f23ff;
}

.lg-green2 {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  margin-left: 400px;
  background-color: #06121f;
}

.btn-info-pop {
  background-color: #4f23ff;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.64s ease-in-out;
  transition: 0.64s ease-in-out;
}

.btn-info-pop-up {
  position: relative;
  background-color: #11151e;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  max-width: 1000px;
  width: 60%;
  height: 80%;
}

.btn-info-pop-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.btn-info-pop-text h1 {
  font-family: "Prata", serif;
  font-size: 32px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.btn-info-pop-text p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

.btn-info-pop:target {
  visibility: visible;
  opacity: 1;
}

.btn-info-pop-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 120px;
  height: 32px;
  border-radius: 100%;
  background-color: #4f23ff;
  z-index: 10;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */